<div class="sketch-bg">
<div class="spacer"></div>
<div class="inner-container">

<h1 class="merri"><strong>Edit Sketch</strong></h1>
<p><em>My drawings, sketches, and doodles.</em></p>

<%= render 'form' %>

<%= link_to 'Show', @sketch %> |
<%= link_to 'Back', sketches_path %>

</div>
<div class="spacer"></div>
</div>
