<!-- Full Page Image Header Area -->
<div class="header blog-page">
    <div class="vert-text" style="background: rgba(0,0,0,0.6);">
        <h1><%= link_to 'Snapshots', articles_path %></h1>
        <h3>Design / Development / Life Lessons / Cats</h3>
        <br />
    </div>
</div>
