<!-- Callout -->
<div class="callout-footer callout">
    <div class="vert-text">
        <div class="row">
            <div class="large-12 medium-4 columns">
                <div>
                    <h2 class="yellow">That it will never come again is what makes life sweet.</h2>
                    <h3>Emily Dickinson</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Callout -->
