<div class="articles-header">
<div class="large_spacer"></div>
<h1><strong><%= link_to "TIPS & TUTORIALS", articles_path, style: "color: #fff;" %></strong></h1>
<em>Programming tips, tutorials, and notes.</em>
</div>

<div class="inner-container">

 <h2><strong>EDIT ARTICLE</strong></h2>
 <div class="tiny_spacer"></div>

  <%= render 'form' %>

  <%= link_to 'Back', @article %>

</div>
