<%= render 'articles_header' %>

<div class="services text-center">

  <% if user_can_view?(current_user) %>
    <%= link_to 'New Article', new_article_path, class: "button radius yellow-bg new-article" %>
  <% end %>

    <div class="article">
      <% @articles.each do |article| %>
          <p>
            <h2>
              <%= link_to article.title, article %>
              <% if !article.published %>
                <i class="fi-lock" title="Unpublished"></i>
              <% end %>
            </h2>
                <h5>by <%= article.author.name %></h5>
                  <div class="line"></div>
          </p>
      <% end %>
    </div>

  <br>
</div>
