<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>There is a new comment from, <%= @user.name %></h1>
    <p>
      <%= @comment %>
    </p>
    <p>
      Article URL: <%= link_to @article.title, @url %>
    </p>
  </body>
</html>
