<div class="row">
<div class="large-12 columns">
  <div class="panel">
    <div class="row">

      <div class="large-2 small-6 columns">
        <img src="http://placehold.it/300x300&text=Site Owner">
      </div>

      <div class="large-10 small-6 columns">
        <strong>Title of Latest Blog Post<hr/></strong>

        Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis

        <p><%= link_to "Read &#8594;".html_safe, "#" %></p>
      </div>

    </div>
  </div>
</div>



    </div>
  </div>
</div>
