<!-- Portfolio -->
<div id="portfolio" class="portfolio">
    <div class="row">
        <div class="large-12 columns">
            <h2 class="text-center">My Work</h2>
            <div class="line"></div>
            <p class="text-center p"><!-- About Work --></p>
        </div>
    </div>
  <div class="row">
    <div class="large-12 columns">

      <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-3">
        <%- @projects.each do |project| %>
          <li>
            <%= link_to project do %>
            <div class="image-wrapper overlay-fade-in">
              <%= image_tag project.thumbnail.url %>
            <div class="image-overlay-content">
            <h2><%= project.technologies_used %></h2>
          </div>
          </div>
          <% end %>
        </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<!-- /Portfolio -->
