<div class="row">

<div class="profile">

<div class="large-4 small-12 columns">

  <%= image_tag "profile-pic.jpg" %>

  <div class="hide-for-small panel">
    <h3>Amy Kang</h3>
    <h5 class="subheader">Risus ligula, aliquam nec fermentum vitae, sollicitudin eget urna. Donec dignissim nibh fermentum odio ornare sagittis.
    </h5>
  </div>

  <a href="#">
  <div class="panel callout radius">
    <h4>Contact Me</h4>
    <h6>
      <a href="#"><span class="fi-social-github"></span>&nbsp;Github</a>
      <br>
      <a href="#"><span class="fi-social-linkedin"></span>&nbsp;LinkedIn</a>
      <br>
      <a href="#"><span class="fi-social-twitter"></span>&nbsp;Twitter</a>
      <br>
      <%= link_to "mailto:selene6023@gmail.com" do %>
        <span class="fi-mail"></span>&nbsp;selene6023@gmail.com
      <% end %>
      <br>
    </h6>
  </div>
  </a>
  </div>

</div>
