<div class="row">
  <div class="large-12 columns">

    <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-3" data-clearing>
      <li>
        <%= link_to "#" do %>
          <div class="image-wrapper overlay-fade-in">
            <%= image_tag "thumbnail03.png" %>
          <div class="image-overlay-content">
            <h2>Category</h2>
          </div>
        </div>
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
        <img data-caption="caption 2 here..." src="<%= asset_path("thumbnail03.png") %>">
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
        <img data-caption="caption 2 here..." src="<%= asset_path("thumbnail02.png") %>">
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
        <img data-caption="caption 2 here..." src="<%= asset_path("thumbnail01.png") %>">
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
        <img data-caption="caption 2 here..." src="<%= asset_path("thumbnail01.png") %>">
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <img data-caption="caption 2 here..." src="<%= asset_path("thumbnail01.png") %>">
        <% end %>
      </li>
    </ul>
  </div>
</div>
