<h1>Amy Kang</h1>

<h2>Hello World</h2>

<div class="description">
  <strong>Welcome to my portfolio page!</strong>>

  <p>
    I've been studying Web Development since 2014 and continuing to grow my skillset by learning other languages and frameworks.
  </p>
</div>
