<!-- Full Page Image Header Area -->
  <div id="top" class="header">
      <div class="vert-text" style="background: rgba(0,0,0,0.6);">
          <h1>Amy Kang</h1>
          <h3>Designer / Developer</h3>
          <br />
          <a href="#about" class="button radius yellow-bg">Find Out More</a>
      </div>
  </div>
<!-- /Full Page Image Header Area -->

<div id="about" class="intro">
    <div class="row">
        <div class="large-12 columns text-center">
            <h2>About Me</h2>
            <div class="line"></div>
        </div>
    </div>
    <div class="row">
      <div class="large-12 columns text-center">
        <%= image_tag "profile-pic.jpg", class: "profile-avatar" %>
      </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <p class="text-center">
                In 2014 I began studying Web Design out of curiosity. After studying HTML/CSS and Photoshop I developed an interest in Web Development. I wasn't satisfied with learning to build static websites. I wanted to know how large, complex applications were built. After dabbling in PHP I discovered Ruby and started teaching myself Ruby on Rails.
            </p>
        </div>
    </div>

    <div class="row">
        <!-- Profile picture Here -->
    </div>
</div>
<!-- Callout -->
<div class="callout">
    <div class="vert-text">
        <div class="row">
            <div class="large-12 medium-4 columns">
                <div>
                    <h1 class="yellow">I dwell in possibility.</h1>
                    <h3>Emily Dickinson</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Callout -->
<%= render 'portfolio' %>
