<%= render 'projects/projects_header' %>

<%= render 'portfolio' %>

<div id="about" class="intro">
    <div class="row">
        <div class="large-12 columns text-center">
            <h2>About</h2>
            <div class="line"></div>
        </div>
    </div>
    <div class="row">
      <div class="large-12 columns text-center">
        <%= image_tag "profile-pic.jpg", class: "profile-avatar" %>
      </div>
    </div>
    <div class="row">
        <div class="large-12 columns">
            <p class="text-center">
                In 2014 I began studying Web Design out of curiosity. After studying HTML/CSS and Photoshop I developed an interest in Web Development. I wasn't satisfied with learning to build static websites. I wanted to know how large, complex applications were built. After dabbling in PHP I discovered Ruby and started teaching myself Ruby on Rails.
            </p>
        </div>
    </div>

    <div class="row">
        <!-- Profile picture Here -->
    </div>
</div>
