<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
<%= image_tag "#{random_bg}", class: "jumbotron-img" %>
  <div class="container">
  <div class="billboard-text">
    <h1>Hello, world!</h1>
    <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
  </div>
  </div>
</div>

<div class="white-bg">
<div class="container">
  <!-- Example row of columns -->
  <div class="row">
  <%- @projects.each do |project| %>
    <div class="col-md-4">
      <h3>Heading</h3>
      <p><%= image_tag project.thumbnail.url, class: "thumbnail" %></p>
      <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
    </div>
  <% end %>
  </div>
</div>
</div>
