<div class="article-control link_color">
  <% if policy(@project).is_editor? %>
      <%= link_to 'Edit', edit_project_path(@project) %>
      &nbsp;&nbsp;
      <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
</div>
