<!-- Full Page Image Header Area -->
<div class="header project-page">
    <div class="vert-text" style="background: rgba(0,0,0,0.6);">
      <h1>Amy Kang</h1>
      <h3>Designer / Developer</h3>
      <h4 style="color: #fff;">Ruby on Rails, UI Design, Photoshop</h4>
        <br />
    </div>
</div>
