<div class="overlay">
</div>
<i class="fa fa-times fa-2x close-out" style="color: #fff;"></i>
<div class="project-show text-center">

  <%= render 'project' %>

  <%= render 'control' %>

  <%= render 'prev_next' %>
</div>
