<div class="spacer"></div>
<div class="inner-container">

 <h2><strong>EDIT PROJECT</strong></h2>
 <div class="tiny_spacer"></div>

  <%= render 'form' %>

  <div class="tiny_spacer"></div>
  <p><%= link_to "Cancel", :back %></p>

</div>
<div class="spacer"></div>
