<div class="grey-bg">
<div class="spacer"></div>
<div class="small_spacer"></div>

<div class="text-center">
<h1 style="font-weight: bold;">EDIT POST</h1>
<em>Life Lessons, Day to Day, Random Musings</em>
</div>

<div class="small_spacer"></div>
<div class="container">
<div class="white-bg inner-container">

<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>

</div>

</div>
<div class="large_spacer"></div>
</div>
