html, body {
 margin: 0;
 padding: 0;
 font-family: 'Open Sans', sans-serif !important;
 color: #3d3d29;
 a {
  color: #3d3d29;
 }
}

.float-right {
  float: right;
}

.large_spacer {
  width: 100%;
  height: 100px;
}

.spacer {
  width: 100%;
  height: 50px;
}

.small_spacer {
  width: 100%;
  height: 30px;
}

.tiny_spacer {
  width: 100%;
  height: 15px;
}

.white-bg {
  background: #fff;
}

.grey-bg {
  background: #f5f5f0;
}

.inner-container {
  width: 70%;
  margin: 0 auto;
  padding: 20px;
}

.default-btn {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background: #ff751a;
  border: none;
  font-size: 15px;
  color: #fff;
  &:hover {
    background: #ff9900;
    color: #fff;
    text-decoration: none;
  }
}

.merri {
  font-family: 'Merriweather', serif;
}
