// Styles for main page.

.jumbotron {
  background: transparent;
  height: 650px;
  z-index: -1;
}

.jumbotron-img {
  position: relative;
  top: -50px;
  z-index: -1;
  max-width: 100%;
}

.billboard-text {
  position: absolute;
  top: 200px;
  color: #fff;
}

.white-bg {
  background: #fff;
}

.project-thumbnails {
  position: relative;
  margin-top: 40px;
  height: 250px;
  overflow: hidden;
}

.thumbnail {
  width: 300px;
  max-width: 100%;
}

.thumbnail-overlay {
  position: absolute;
  left: 40px;
  width: 300px;
  max-width: 100%;
  opacity: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.overlay-text {
  position: relative;
  color: #fff;
  top: 120px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 15px;
  z-index: 1;
  padding: 0;
}

.thumbnail-show {
  opacity: 1;
}
