// Styles for main page.

.jumbotron {
  background: transparent;
  height: 650px;
  z-index: -1;
}

.jumbotron-img {
  position: relative;
  top: 0;
  z-index: -1;
  max-width: 100%;
}

.billboard-text {
  position: absolute;
  top: 200px;
  color: #fff;
}

.white-bg {
  background: #fff;
}

.thumbnail {
  width: 300px;
  max-width: 100%;
}
