.navbar-inverse {
  background: transparent;
  border-color: transparent;
  z-index: 99;
}

a.navbar-brand {
  font-weight: bold;
  color: #fff !important;
  font-size: 25px;
  margin-top: 5px;
}

a.navbar-brand:hover {
  opacity: 0.85;
}

.fa-bars {
  color: #fff !important;
  font-size: 25px;
  margin-top: 17px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &:hover {
    opacity: 0.85;
  }
}

.sidebar-out {
  margin-right: 250px;
}

ul.nav li a {
  color: #fff !important;
  font-size: 17px;
  margin-top: 5px;
}
