.thumbnail {
  border: none;
  padding: 0;
  border-radius: 0;
  margin: 0 auto;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.85);
  height: 100%;
  width: 100%;
  z-index: 2000;
}

.fa-times {
  color: #fff;
  font-size: 35px;
  position: absolute;
  top: -20px;
  right: 20px;
  cursor: pointer;
  z-index: 2007;
}

.project-show {
  position: fixed;
  top: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  max-width: 90%;
  z-index: 2005;
  ::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
  }
}

.project-info {
  position: relative;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 2006;
  color: #fff;
  padding-bottom: 60px;
  max-height: 600px;
  overflow: hide;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

a.project-link {
  color: #fff;
}

#image_one, #image_two {
  max-width: 100%;
}

.project-images {

}
