.sketch-bg {
  background: asset-url("symphony.png");
}

.sketch-container {
  position: relative;
  background: rgba(0, 0, 0, 0.85);
  height: 200px;
  overflow: hidden;
}

.sketch-thumb {
  max-width: 300px;
}

.sketch-box {
  margin-bottom: 30px;
}

.sketch-btn {
  position: absolute;
  width: 30%;
  text-align: center;
  top: 75px;
  left: 0;
  right: 0;
  margin: 0 auto;
  opacity: 0;
}

.sketch-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.85);
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.sketch-container:hover {
  .sketch-overlay {
    opacity: 1;
  }
  .sketch-btn {
    opacity: 1;
  }
}
