<!-- Footer -->
<footer class="footer">
  <div class="row">
    <div class="large-12 columns">
      <p>2013 &copy; Accalia.</p>
      <div class="toTop">
        <i class="fi-arrow-up"></i>
      </div>
    </div>
    <!-- /.large-12 columns -->
  </div>
  <!-- /.row -->
</footer>
<!-- / Footer -->
