<footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-4 columns">
          <p>© 2015 Amy Kang</p>
        </div>
        <div class="large-8 columns">
          <ul class="inline-list right">
            <li>
              <span class="fi-social-github">
                <%= link_to "Github", "#" %>
              </span>
            </li>
            <li>
              <span class="fi-social-linkedin">
                <%= link_to "LinkedIn", "#" %>
              </span>
            </li>
            <li>
              <span class="fi-social-twitter">
                <%= link_to "Twitter", "#" %>
              </span>
            </li>
            <li>
              <span class="fi-mail">
                <%= mail_to "selene6023@gmail.com" %>
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>
</footer>
