      <footer>
                          <%= link_to "https://github.com/amykangweb" do %>
                        <i class="fa fa-github-alt fa-3x" style="color: #00a29d;"></i>
                    <% end %>
                    <h4>Github</h4>

                                        <%= link_to "https://www.linkedin.com/in/selene6023" do %>
                        <i class="fa fa-linkedin fa-3x gray" style="color: #b71c5d;"></i>
                    <% end %>
                    <h4>LinkedIn</h4>

                                        <%= mail_to "selene6023@gmail.com" do %>
                        <i class="fa fa-envelope fa-3x gray" style="color: #b71c5d;"></i>
                    <% end %>
                    <h4>Email</h4>

                                        <%= link_to "https://instagram.com/selene6023/" do %>
                        <i class="fa fa-instagram fa-3x" style="color: #e45801;"></i>
                    <% end %>
                    <h4>Instagram</h4>


        <p>&copy; 2015 Company, Inc.</p>
      </footer>
