<!-- top bar info -->
<header class="top_bar">
  <ul class="lang_list">
    <li>
      <a href="./es/index.html">About</a>
    </li>
    <li>
      <span></span>
    </li>
    <li>
      <a href="./es/index.html">Portfolio</a>
    </li>
      <span></span>
    </li>
    <li>
      <a href="./es/index.html">Blog</a>
    </li>
      <span></span>
    </li>
    <li>
      <a href="./es/index.html">Contact</a>
    </li>
  </ul>
</header>
<!-- / top bar info -->
