<nav class="navbar navbar-inverse navbar-fixed-top main-navbar" style="height: 65px;">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "AMY KANG", root_path, class: "navbar-brand" %>
    </div>
    <div class="navbar-right">
        <i class="fa fa-bars" id="menu-toggle"></i>
    </div>
  </div>
</nav>
