<div class="row">
  <div class="large-12 columns title">
  <h1>Amy Kang</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="nav-bar">
     <ul class="button-group">
       <li><%= link_to "Work", root_path, class: "button" %></li>
       <li><a href="#" class="button">About</a></li>
       <li><a href="#" class="button">Blog</a></li>
       <li><a href="#" class="button">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
